@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

html {
  max-width: 100vw;
  overflow-y: scroll;
}

body {
  background-color: #f0e3d0;
  font-family: "Roboto", sans-serif;
  color: #404040;
}

.container {
  margin-top: 2em;
}

#message {
  width: 100%;
  height: 100%;
  color: #404040;
  border-radius: 10px;
  outline: none;
  background-color: #f0eeeb;
}

ul {
  list-style-type: none;
  padding: 0 1em;
}

.message div.item {
  background-color: #fbf2f2;
  border-radius: 10px;
  padding: 0.4em 0.8em 0.8em;
  margin-bottom: 1em;
  -webkit-box-shadow: 9px 10px 13px -2px rgba(0, 0, 0, 0.59);
  box-shadow: 9px 10px 13px -2px rgba(0, 0, 0, 0.59);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.send {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.6;
}

.send:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

#checkbox {
  display: inline-block;
  margin-left: 0;
  margin-right: 3px;
}

label {
  font-size: 0.7em;
}

.edit-msg {
  margin-top: 5px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  float: right;
  opacity: 0.4;
  cursor: pointer;
}

.close-msg {
  margin-top: 5px;
  width: 16px;
  height: 16px;
  float: right;
  opacity: 0.4;
  cursor: pointer;
}

li {
  clear: both;
  padding: 1px 6px 10px;
}
